body {
    overflow-x: hidden;
}

#img {
    width: 25%;
}

.js {
    width: 10%;
}

.berne, .berne1{
    border: solid 4px;
background-color: grey;
text-align: center;
padding: 20px;
padding-bottom: 30px;
}

.berne h4, .berne p, .berne1 h4, .berne1 p {
    color: white;
}

.reponse, .reponse1 {
    visibility: hidden;
    width: 240px;
    height: 30px;
    padding-top: 10px;
    margin: 10px auto 0;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-300px);
    
}

.test, .test1 {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}



.mousemove {
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    border-radius: 50px;
    z-index: -1;
}

#b1, #b2, #b11, #b22{
    width: 10%;
    padding-bottom: 8px;
    padding-top: 8px;
}


