body {
    overflow-x: hidden;
}

#img {
    width: 25%;
}

.js {
    width: 10%;
}

.berne, .berne1, .berne2, .berne3, .berne4, .berne5{
    border: solid 4px;
background-color: grey;
text-align: center;
padding: 20px;
padding-bottom: 30px;
}

.berne h4, .berne p, .berne1 h4, .berne1 p , .berne2 h4, .berne2 p, .berne3 h4, .berne3 p, .berne4 h4, .berne4 p, .berne5 h4, .berne5 p {
    color: white;
}

.reponse, .reponse1, .reponse2, .reponse3, .reponse4, .reponse5 {
    visibility: hidden;
    width: 240px;
    height: 30px;
    padding-top: 10px;
    margin: 10px auto 0;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-300px);
    
}

.test {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}



.mousemove {
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    border-radius: 50px;
    z-index: -1;
}

#b1, #b2,  #b11, #b22, #b111, #b222, #b1111, #b2222, #b11111, #b22222, #b111111, #b222222{
    width: 10%;
    padding-bottom: 8px;
    padding-top: 8px;
}

#b1111, #b2222{
    width: 30%;
}

.unique, .angrboda, .odin, .arbre, .creation, .geant{
    visibility: hidden;
    width: 30%;
    margin-left: 35%;
}

.arbre {
    width: 40%;
    margin-left: 30%;
}

.imagev{
    visibility: visible;
}

#key {
    color: red;
}

#keycode{
    color: green;
}




